[2015-08-19 18:57] joshuah opened #3 "sol-redis-pool Updated."
I have updated sol-redis-pool to allow database selection.

[2015-08-20 13:59] jkernech commented on #3
Thanks ! I have updated the dependencies and published the updated module on NPM.

[2015-08-20 13:59] #3 closed

[2015-09-07 10:04] Foxboron opened #4 "Add option for FLUSHDB"
Using this at work and currently need the ability to flush the connected DB. I see it's implemented in the redis library used by `sol-redis-pool` but i don't see anyway to try and hack around the store to access the option.

I'd love and appreciate if this option could be implemented.

[2015-09-17 14:21] jkernech commented on #4
Thanks @Foxboron.

`flushdb()` may be a bit extreme if you end up storing something else in redis and unfortunately, `node-redis` does not support pattern deletion, e.g `del('sess:*')`

I will implement this feature in the near future and open an issue to suggest the addition of this feature to `node-cache-manager`

[2015-09-17 15:00] #4 closed

[2015-09-17 16:35] Foxboron commented on #4
Thank you!
I'm aware it's a little bit extreme. But in my case, its what i need.

Love the quick response! Keep up the work.

[2015-09-20 15:11] amit777 opened #5 "Auto reconnect?"
I noticed after some long period of time, some of my processeses that use redis cache manager get exceptions related to timeout.  Is redis cache manager supposed to reconnect automatically?  When I restart the process, everything reconnects fine. The problem starts with this error:

[Error: Redis connection to 127.0.0.1:6379 failed - connect ETIMEDOUT 127.0.0.1:6379]

Then subsequently all errors

[2015-10-08 21:48] amit777 opened #6 "cache-manager 1.2 breaking update?"
Hi, I posted this issue in the main cache-manager project, but it's not clear to me yet whether it's a problem there or here:

https://github.com/BryanDonovan/node-cache-manager/issues/34

thanks!

[2015-10-09 09:34] jkernech commented on #6
Thanks @amit777. I'll check this out soon.

[2015-10-09 09:47] jkernech commented on #6
The problem was related to the multiCaching in `node-cache-manager`. The `isCacheableValue` function of the underlying cache was never called.

This PR should fix the issue https://github.com/BryanDonovan/node-cache-manager/pull/35

[2015-10-09 09:47] #6 closed

[2015-10-09 09:47] jkernech commented on #5
Thanks @amit777. I'll check this out soon.

[2015-10-17 17:26] BryanDonovan commented on #6
1.2.1 should fix this so you don't have to set the `isCacheableValue()` in the multiCaching initialization since it will now use the redis cache store's `isCacheableValue()`.

[2015-10-19 09:02] jkernech commented on #6
Thanks @BryanDonovan !

[2015-10-25 14:53] santoshsahoo opened #7 "Optional callbacks. Incompatible with memory backend."
There are certain methods like delete, where callbacks is not very useful. We use those apis as fire and forget. When we switched to redis backend from memory backend, we noticed tons of error upon delete keys. This required us to fork the code to make callbacks conditionally wrapped in if(cb).

/sites/pivhub.com/app/node_modules/cache-manager-redis/index.js:53
      cb(null, result);
      ^
Type

[2015-10-25 15:06] jkernech commented on #7
Thanks @santoshsahoo. I'll check this out soon.

[2015-10-25 15:30] #7 closed

[2015-10-25 15:36] jkernech commented on #7
@santoshsahoo I have fixed the issue and push a new version v0.1.12 to npm.
Hope this helps

[2015-10-25 15:38] santoshsahoo commented on #7
@jkernech. Super fast, thanks!

[2015-10-25 19:03] mariostesla commented on #5
@amit777 you are right, my PR ( #2 ) is causing this behavior, it was a quick solution to the unhandled exception but it's not a good solution as it will not reconnect.

sol-redis-pool only emits errors, so to listen to "connected" events we would have to listen to each client in the pool i think. I don't have much experience with redis clients but if i have time soon, i will try to implement a be

[2015-10-25 19:06] amit777 commented on #5
Maybe as a workaround it could emit an event that we can listen for.  I'll take a look more later at your PR to see if any other ideas.

[2015-10-26 03:17] amit777 commented on #5
also, maybe this is an example of a possible solution type: https://github.com/NodeRedis/node_redis/commit/e8d9858e299485b9db8f8ffcab02b7a06447aeea

[2015-11-09 08:47] kontextbewusst opened #9 "Cache kills application after a few requests"
Hi there,

I am using the redis cache (most recent versions of this module and the node-cache-manager) in a hapi-based server application and I am seeing a very strange problem. After a couple hundred requests to the cache, the server instances become unresponsive and all client requests time out. This does not occur when I switch to the mongodb cache.

I checked the redis log and my server's log

[2015-11-10 14:22] jkernech commented on #9
Thanks @kontextbewusst. I think the issue is related to #5. I'll check this out soon

[2015-11-10 15:46] kontextbewusst commented on #9
@jkernech thank you! Let me know if I can help you with testing/debugging. I can easily reproduce the error in my environment.

[2015-11-11 21:35] cludden opened #11 "Provide access to raw redis client for advanced usage"
would like to be able to access the underlying redis client to use some native functionality, but there is currently no way to access it

[2015-11-12 13:31] jkernech commented on #11
Thanks for your contribution @cludden ! I'll check this out as soon as possible

[2015-11-12 13:34] #11 closed

[2015-11-12 13:35] jkernech commented on #5
Thanks guys !

[2015-11-12 13:35] #5 closed

[2015-11-12 13:38] jkernech commented on #9
This PR https://github.com/dial-once/node-cache-manager-redis/pull/10 should fix your issue. I will publish a new version on npm today.

[2015-11-12 17:08] jkernech commented on #9
@kontextbewusst I think I have successfully reproduce your issue. I think you use the reset method and the redis connection was not release in this case... The following PR #13 should fix the issue

[2015-11-12 17:09] #9 closed

[2015-11-12 21:12] cludden commented on #11
Thanks @jkernech for the fast response! Any chance you could publish v0.2.0? We're hoping to use some of this functionality in production at my company in the very near future.

[2015-11-12 21:29] jkernech commented on #11
@cludden, I will publish a new version by the end of the week.

I'd like to cover 100% of the code before releasing the v0.2.0  (~94% atm)

https://github.com/dial-once/node-cache-manager-redis/tree/feature/tests

[2015-11-15 20:27] jkernech commented on #9
The v0.2.0 is available on npm : https://www.npmjs.com/package/cache-manager-redis
Could you check if this release solves your issue ?
Thanks

[2015-11-15 20:30] jkernech commented on #11
I didn't manage to get the code coverage to 100% (~95%) but as promised I have published the v0.2.0.

[2015-11-15 20:33] jkernech commented on #5
The v0.2.0 is available on npm : https://www.npmjs.com/package/cache-manager-redis
This release should fix this issue.

[2015-11-15 21:35] cludden commented on #11
Thanks @jkernech! Let me know if you'd like help on completing coverage, would be more than happy to help out on such a noble goal!

[2015-11-15 21:41] jkernech commented on #11
Thanks @cludden ! I need some help to reach this noble goal so you're welcome to help out :)

We need to find a way to test the `connect` callback when the redis client throws an error, I will create a dedicated issue but you can find more infos here : https://github.com/dial-once/node-cache-manager-redis/pull/14

[2015-11-15 21:48] jkernech opened #16 "Test the connect callback when the redis client throws an error"
The goal is to reach 100% coverage.

We couldn't figure out how to test the callback of the `connect` method when the redis client throws an error. However, we have successfully tested the event emitted in this case : cf. `redisErrorEvent` in `redis-store-spec.js`

Related to #14

[2015-11-15 21:49] jkernech commented on #16
@cludden @mariostesla Any help would be greatly appreciated !

[2015-11-15 21:51] jkernech commented on #11
Here you go ; #16

[2015-11-15 23:16] #16 closed

[2015-11-17 20:24] jkernech commented on #9
@kontextbewusst Have you had time to test the new version?

[2015-11-24 13:41] kontextbewusst commented on #9
@jkernech I just did and it works fine! Thank you very much for the fix!

[2015-11-25 15:27] jkernech commented on #9
@kontextbewusst Thanks for your feedback. I'm glad to know that your issue is solved :)

[2016-01-14 03:58] 3choBoomer opened #19 "Ability to override isCacheableValue using node-cache-manager options. "
I may have a unique use-case here, but I still think others might find this functionality useful.

I needed the ability to write to one redis server (a master), but read from a pool of redis servers that were load balanced behind an HAProxy (a master and all of its slaves).

I first wanted to use HAProxy, but it doesn't support routing via TCP.

After trying a few major refactors of `node-cache-ma

[2016-01-18 16:37] jkernech commented on #19
Thanks @3choBoomer. Interesting case..
I'll check this out soon !

[2016-01-20 12:02] 3choBoomer commented on #19
Is there anything I need to do to get a clean build? The errors being thrown seem like they are environmental, but I wanted to be sure.

[2016-01-22 02:15] jkernech commented on #19
Thanks @3choBoomer.
Your issue and PR really make sense and your implementation and use case are consistent with the https://github.com/BryanDonovan/node-cache-manager library.

The issue you mentionned is related to the cyclomatic complexity: https://www.codacy.com/app/dialonce-jkernech/node-cache-manager-redis/pullRequest?prid=165333

[2016-01-22 02:15] #19 closed

[2016-01-22 02:33] jkernech commented on #19
@3choBoomer I have integrated your feature and published a new version on npm: https://www.npmjs.com/package/cache-manager-redis

Hope this helps !

[2016-03-14 18:45] fscardua opened #21 "APPEND"
You will plan to implement the redis APPEND function?

[2016-03-15 18:25] jkernech commented on #21
Thanks for the suggestion @fscardua
I will take a look and of course if you have time to do a PR, it would be awesome ;-)

[2016-04-05 17:54] moxious opened #22 "Expose the connection pool"
Right now this module keeps track of the sol-redis-pool instance under `_pool`.  If you have an application that needs cache manager for simple get/put, but also wants to use redis for things like pub/sub, it would be nice to make this item not private, or provide an "approved" method for accessing the pool to draw other connections from it for other purposes.  It seems unnecessary to create one c

[2016-04-05 18:35] jkernech commented on #22
Hi @moxious
Thanks for your feedback, your use case is interesting.

I prefer to expose a getPool() method, I think it's more cleaner and testable. I'm of course open to accept pull request, just make sure it's well tested to keep the coverage to 100% :-)

[2016-04-05 18:48] moxious commented on #22
So...this would be absolutely no problem to write up and cover with a test, but after I forked/cloned this repo to do it, for me the test suite doesn't pass as-is.

[code]

I'm using a docker image of redis 2.8.23 -- and yes I did configure `config.json` in spec to make sure my host/port settings were right.

[2016-04-22 19:16] cludden commented on #21
@fscardua, you can access all redis commands by accessing the underlying redis client using the #getClient() method:
[code]

[2016-07-15 18:17] kjs3 opened #26 "Can a connection URL be used in config?"
Is it possible to pass a redis url instead of splitting it up? Something like…

[code]

[2016-07-22 08:20] saggiyogesh opened #27 "Multiple keys in del"
`del` method doesn't support multiple keys to be deleted.

[2016-07-26 16:09] PuKoren opened #30 "Handle reconnect when Redis connection is lost"

[2016-07-27 08:27] mrister commented on #22
@moxious Tests should no longer be failing on the latest master.

[2016-07-28 04:40] angelxmoreno opened #31 "Promises missing?"
Not sure if I am doing something wrong in my setup, but when I try to use promises in multicache, I don't ever get the cache data.

Is this adapter not compatible with promises?

[2016-07-28 07:25] mrister commented on #31
@angelxmoreno  Any chance you can provide example code to test? Promises should be supported.

[2016-07-30 12:20] jkernech commented on #30
Should be related to #5

[2016-07-30 13:21] #21 closed

[2016-08-01 12:31] #26 closed

[2016-08-01 12:34] mrister commented on #30
After a conversation on slack and testing we saw that redis does get reconnected on default settings and that the possible bottleneck could be `sol-redis-pool` module that restricts some redis options being passed into it.  One example https://github.com/joshuah/sol-redis-pool/pull/17

So @jkernech @PuKoren  Any ideas on how to proceed (or close this issue) ?

[2016-08-01 12:53] PuKoren commented on #30
@mrister can you describe the test processed?

What do you mean by bottleneck on `sol-redis-pool`? The underlying redis is reconnected by sol-redis-pool acts if it was still disconnected?

[2016-08-01 12:58] mrister commented on #30
@PuKoren  Sure:
For sol redis poll it does not pass options to redis (like the PR i sent) which control reconnect and retry strategies

Test was:
- Start a redis cache via redis-node-cache-manager
- Do some sets and gets of a same key to make sure it is working
- Disable redis
- Do some sets and gets
- Restart redis
- Do gets and sets to make sure it is working.

Reconnect happened as well as oper

[2016-08-01 13:00] PuKoren commented on #30
Well if it is working as expected you can close the issue

[2016-08-01 13:01] mrister commented on #30
@jkernech You did some investigations also, what do you think, ok to close ?

[2016-08-01 13:12] jkernech commented on #30
@mrister Ok to close, I couldn't reproduce the issue

[2016-08-01 13:16] mrister commented on #30
Closing as discussed.

[2016-08-01 13:16] #30 closed

[2016-08-02 15:27] mrister commented on #31
@angelxmoreno This lib is not yet promise ready.

[2016-08-02 15:35] PuKoren commented on #31
As a side note, because I'm not sure to understand what is your issue:

When you use directly node-cache-manager-redis, you can't use the exposed methods as promises (`.get`, `.set`, `.ttl`, etc.).

However if you are using node-cache-manager, and the multicache feature (since you mentioned it), promises should be handled for you since version 1.3 of node-cache-manager: https://github.com/BryanDon

[2016-08-03 03:43] angelxmoreno commented on #31
ty. will test soon

[2016-08-09 16:00] kjs3 opened #35 "Version bump for npm?"
There's some good work on master (specifically, thank you for [this](https://github.com/dial-once/node-cache-manager-redis/pull/33))

How about a version bump for npm so you don't need to install from github?

[2016-08-09 16:02] jkernech commented on #35
Thanks @kjs3 ! We planned to release and publish a new version in a few days :)

[2016-08-10 04:18] pasupulaphani opened #36 "wrap with {ttl: 0} is caching forever"
```redisCache.wrap("key", () => Promise.resolve("hit"), {ttl: 0});```

[2016-08-10 08:50] mrister commented on #36
@pasupulaphani Would you mind giving us a code example here to check ?

[2016-08-10 12:17] pasupulaphani commented on #36
@mrister Added sample code.

[2016-08-10 12:20] mrister commented on #36
@pasupulaphani  tnx!

[2016-08-11 09:30] jkernech commented on #35
Hey @kjs3 !!
As promised, a new version (v0.2.3) have been published on npm !

https://www.npmjs.com/package/cache-manager-redis

Cheers

[2016-08-11 09:30] #35 closed

[2016-08-16 16:06] PuKoren commented on #36
This is expected behaviour as having a ttl of 0 makes no sense (why would you store something that is to be deleted instantly?). So 0 was defined as 'infinite'

Can you describe what you are trying to achieve? Because I fail to see the benefits of using the cache module to not cache 😆

[2016-08-16 16:31] pasupulaphani commented on #36
I wasn't deliberate in doing that. Found this when testing edge cases.

I wouldn't recommend making the assumption 0 as 'infinite'. Only suggesting. Feel free to close the issue if you feel this is not a biggy.

[2016-08-16 16:43] PuKoren commented on #36
Thing is with redis TTL of -1 and -2 have a meaning: http://redis.io/commands/ttl, as well as positive integers.

About 0 = infinite, the mother module (node-cache-manager) works this ways on its memory cache, it makes sense to me to be consistent with it and use the same API.

Why do you recommend to avoid using ttl: 0 as an infinite ttl value?

[2016-08-17 08:09] pasupulaphani commented on #36
Thank you for the explanation. I can see now why it is implemented this way.

[2016-08-17 08:10] #36 closed

[2016-08-24 05:52] raj-krrish opened #37 "Redis unavailable fallback."
If redis goes down, function does not return and user request hangs up. Can not see any workaround in examples.

[2016-08-24 06:16] mrister commented on #37
Hi @raj-krrish . Would you be kind and provide a code sample and a scenario helping us recreate this ?

[2016-08-24 06:24] raj-krrish commented on #37
Thanks for quick response.
`redisCache.wrap(redisKey,
                        function(cacheCB){
                            audiencePoolWrapper(cacheCB)
                        },
                        function(err,response){
                            if(err){  // send resPayload  directly as response will not be available
                                sendErrResponse(req,res);

[2016-08-24 06:32] mrister commented on #37
Have you tried setting any Redis reconnect options like retry_strategy when creating redis store? https://github.com/NodeRedis/node_redis#options-object-properties

[2016-08-24 07:29] raj-krrish commented on #37
Yes I tried that. This is my code to create client.
`var redisCache= cacheManager.caching({`
`    "store": redisStore,`
`    "host": config.redis.host,`
`    "port": config.redis.port,`
`    "db" : config.redis.db,
`    "ttl" : config.redis.ttl,`
`    "retry_strategy": function(options){`
`        if (options.error.code === 'ECONNREFUSED') {`
`            // End reconnecting on a specific error an

[2016-08-24 07:45] raj-krrish commented on #37
I guess "retry_strategy" is being filtered by
` copyAllowedKeys(SUPPORTED_REDIS_OPTIONS, redisOptions, {});`
in sol-redis-pool/index.js line 41.
as adding
`self._redis_options.retry_strategy = redisOptions.retry_strategy;`
after that is changing the behavior.

[2016-08-24 07:47] mrister commented on #37
@raj-krrish  yes there is a PR for this https://github.com/joshuah/sol-redis-pool/pull/17, unfortunately not yet merged.

[2016-08-29 03:09] joshuah commented on #37
I just published version 0.3.0 to add the `retry_strategy`.
[code]

There are some breaking changes in this release, notes are in the README.md

[2016-08-29 05:02] raj-krrish commented on #37
Thanks :)  @mrister @joshuah

[2016-08-29 05:08] jeff-kilbride opened #38 "ZLib gzip/gunzip implementation"
I am using your plugin, so thank you for the code!

I have forked the project and added compression of values as a config option to my version, using the built-in ZLib gzip/gunzip methods. The values I'm storing aren't huge, typically 1-10K, but I'm seeing them compressed to ~25% of their original size using the lowest (fastest) compression setting.

Is this something you would be interested in ha

[2016-08-29 06:32] mrister commented on #38
@jeff-kilbride sure! Please submit a PR. Thanks for a contribution.

[2016-08-29 06:51] mrister opened #39 "Update out of date dependencies"
Update out of date dependencies and make sure everything works correctly (tests passing)

[2016-08-29 07:00] jeff-kilbride commented on #38
Ok, will do! Probably be a few days.

Something to consider...  as I have it, I'm not allowing any configuration of the ZLib instance. I just set it to the lowest / fastest compression and leave all the other values at their defaults. I don't want to complicate your code any more than necessary, but I'm wondering if other people will want to customize those settings. Do you think I should allow fo

[2016-08-29 07:06] mrister commented on #38
@jeff-kilbride  Since it is hard to predict all scenarios for people using the lib it would be nice if you can provide various options and if you have the capacity to do it. It's like redis options and should only be passed down to the needed instance with minimal code change to this lib.

[2016-09-05 09:11] #39 closed

[2016-09-05 09:13] mrister commented on #38
@jeff-kilbride We might go for a release soon, any chance you can submit this PR soon so we can check it out?

[2016-09-05 17:13] jeff-kilbride commented on #38
@mrister  Sorry for the delay. I have the basics working, I just haven't added the extra configuration, yet. I will take a look at it today. I also just realized that I've been making my commits to `develop`, so I'm going to fork the project again and put my stuff in a feature branch.

[2016-09-05 17:43] jeff-kilbride commented on #38
@mrister  I just forked a fresh copy of the repo and the tests are no longer working for me. When I run `npm test`, this is what I get:

[code]
Notice there is no test output. When I run the tests in my old fork, they work as expected:
[code]
Has something changed recently that would affect this? I tried removing the `auth_pass` line from `spec/config.json`, but it just gave me a different error:

[2016-09-05 20:14] PuKoren commented on #38
Hey @jeff-kilbride,

Tests seems to pass fine on Circle, even when we disable the cache.
Did you try to npm update before launching the tests again?

Also, what is the version of your redis server? On Circle it should be [3.0.3](https://circleci.com/docs/build-image-precise/#databases)

[2016-09-05 20:30] jeff-kilbride commented on #38
Hi @PuKoren,

Actually, earlier today I deleted my github fork and then re-forked the repo. I had accidentally committed my changes to `develop`, so I wanted to start fresh. I pulled the clean fork, ran `npm install`, and then ran `npm test` in the `develop` branch before creating a new branch with my `zlib` changes. So, the errors above were from a clean pull of the repo and a fresh `npm install`

[2016-09-05 20:41] jeff-kilbride commented on #38
@PuKoren,

I submitted my PR a few minutes ago and it's showing all tests passing. However, I am seeing the same error with `npm test` on Circle. This is the output from the `npm test` tab on Circle:
[code]
It has an exit code of `0`, which is probably being interpreted by Circle as passing, but it doesn't look like the tests are being run.

[2016-09-05 20:42] PuKoren commented on #38
@jeff-kilbride good catch, checking it now

[2016-09-05 21:04] PuKoren commented on #38
@jeff-kilbride I created https://github.com/dial-once/node-cache-manager-redis/commit/5eaa089fbd5217007391779dcc84270cc058069b to fix the issue. Seems to be related to Redis 3.x that triggers an error when we try to store an undefined value. Replacing it with `""` make tests pass again on Redis 3.x. The PR is pending review of my mates

Maybe you can cherry-pick the hotfix on your branch for now t

[2016-09-05 21:51] jeff-kilbride commented on #38
@PuKoren  I noticed that Jasmine was updated recently from `2.3.2` to `2.4.1`. Just wondering if that has something to do with it...

[2016-09-05 22:01] PuKoren commented on #38
@jeff-kilbride it may be, they tend to often break things

[2016-09-05 22:03] jeff-kilbride commented on #38
@PuKoren  Yeah, i just manually updated the `package.json` in my old fork to use Jasmine `2.4.1`, ran `npm update`, and now it's broken...  :\

[2016-09-05 22:27] PuKoren commented on #38
Yep the `^` char will take any minor if available, if you want to only update patch-level version you have to use the `~` character

[2016-09-05 23:21] jeff-kilbride commented on #38
You're right, my bad.

I will wait for the merge. I prefer `mocha / chai` to jasmine anyway. FWIW, I downgraded jasmine back to `2.3.2` and the output is working again.

[2016-09-06 09:47] PuKoren commented on #38
@jeff-kilbride merged, you should be able to go on 👍

[2016-09-07 00:27] jeff-kilbride commented on #38
Mocha tests are working for me!  👍

I'll add some tests to my PR as soon as I get a chance.

[2016-09-07 21:44] jeff-kilbride opened #47 "Custom isCacheableValue tests may not be working correctly"
I'm working on the tests for `gzip` functionality and I noticed a few things. Since you have changed the way `undefined` values are being handled in the `set` method, the custom `isCacheableValue` function in your tests may not be working correctly anymore in the `get` method. It's a little confusing, so I will try to be clear.

In the `set` method, you now have:

`var val = JSON.stringify(value)

[2016-09-07 22:01] mrister commented on #47
@jeff-kilbride Thank you very much for analyses of code. Would you mind making another PR with the changes you think should be in there so we can review and test ? Thanks again.

[2016-09-07 22:05] jeff-kilbride commented on #47
No problem. However, I just realized that the `if` test in the `get` method is also guarding against `null` return values for invalid keys. So, getting rid of that `if` statement entirely probably won't work. But, I still think it can be simplified.

I will work on a different PR for this. Some of this affects my `gzip` code, so I would like to get this resolved first.

[2016-09-07 22:06] mrister commented on #47
Whichever you prefer and we are all up for any simplifications and code readability improvements you can find and are willing to implement.

[2016-09-16 05:16] jeff-kilbride opened #49 "Test for storing null value not being run"
I was working on the zlib stuff a bit tonight and I noticed an error in the current test suite. The `'should store a null value without error'` under the `set` tests is incorrectly contained inside another test clause.
[code]
Notice that it is contained inside the previous `it` test. Looking at the `mocha` output, this test is not being run. This is a problem, because when I fixed it, it failed.
[

[2016-09-18 21:50] PuKoren commented on #49
Hey @jeff-kilbride, thanks for the report

I think that we should stick to specs and allow null storage - what do you think guys? @dial-once/developers

[2016-09-20 05:56] jeff-kilbride commented on #49
@PuKoren  Ok, just let me know how you want to proceed. I've got the fixes in a separate branch, so I can submit a PR whenever you're ready.

[2016-09-20 06:02] PuKoren commented on #49
@jeff-kilbride whenever you want, a separate PR would be nice

[2016-09-20 08:40] PuKoren commented on #49
Fixed by #50

[2016-09-20 08:40] #49 closed

[2016-09-20 15:36] jeff-kilbride commented on #47
Fixed by #48.

[2016-09-20 15:36] #47 closed

[2016-09-22 13:21] PuKoren opened #52 "Refactor tests to user `password` instead of `auth_passw` as default behavior"
https://github.com/NodeRedis/node_redis#options-object-properties

[2016-09-26 17:31] jeff-kilbride commented on #31
For anyone looking to use promises, I have found using `bluebird` to be the easiest solution. Here is an example:
[code]
This creates async versions of all the available methods with an `Async` suffix.
[code]
etc...  Or, even better, if you are using generators:
[code]
You can even promisify individual methods of the underlying redis client with something like this:
[code]
Although the update to `

[2016-10-02 06:36] kcauchy opened #53 "Support for HSET/HGET feature"
To my knowledge, the HSET/HGET will have better performance when there are many keys share the prefix, just like this:

[code]

My suggestion is to store the everything after the last `/` symbol as the HSET/HGET key. For example, we should turn:

[code]

to:

[code]

automatically.

If you like this idea, I will push you a PR.

[2016-10-02 06:39] kcauchy commented on #53
And also, this is a compatible solution for other cache-manager store implementations.

[2016-10-03 08:21] mrister commented on #53
@kcauchy I think It is good Idea, maybe you could do a PR for us to check out the implementation, what do you think @PuKoren ?

[2016-10-03 08:23] PuKoren commented on #53
Agree, looks good!

[2016-10-08 02:32] angelxmoreno commented on #31
closing in favor of @jeff-kilbride snippet

[2016-10-08 02:32] #31 closed

[2016-10-19 13:22] kcauchy commented on #53
It seems not able to be done.

There are two problems:

1. `ttl` is not supported for redis HGET/HSET. Which means I have to disable it for keys as hash table entries. You can't set `ttl` for entire hash table, that will "expire" every entries.

2. `keys` are not supported.
    * Redis provides `HKEYS`, but no pattern supported.
    * If you try to get `cache:session:*`, there could be entries lik

[2016-10-30 18:07] jeff-kilbride opened #54 "Update sol-redis-pool to version 3.2"
The `sol-redis-pool` package now supports promises on the underlying pool connections in version 3.2. Can you please update this package in the `node-cache-manager-redis` dependencies?

Thanks!

[2016-11-09 18:20] srgl opened #56 "Wrapping does not work"
It looks like the 8701d62c has broken the wrapping functionality. Redis adapter returns null in case there is no specified key, as a result `.wrap` doesn't call workload and always return `null`.

_As a workaround, there is the `isCacheableValue` option._

[2016-11-09 22:53] jeff-kilbride commented on #56
@srgl  I see what you are saying. In that commit, I changed the default `isCacheableValue()` from this:
[code]
to this:
[code]
`Redis` allows storing `null` as a value, so that's what we were trying to accomplish.

However, something is strange, because the default `isCacheableValue()` in the `cache-manager` code is [the same as the new commit](https://github.com/BryanDonovan/node-cache-manager/bl

[2016-11-09 23:15] jeff-kilbride commented on #56
Ok, just looking through the issues and PRs at `cache-manager`, this is a known issue:

https://github.com/BryanDonovan/node-cache-manager/issues/25
https://github.com/BryanDonovan/node-cache-manager/pull/29

Somebody suggested having separate `isCacheableValue()` and `isReturnableValue()` functions to help deal with this, but that idea was never merged:

https://github.com/BryanDonovan/node-cache

[2016-11-10 00:54] ankopainting opened #57 "[Suggestion] don't update patch version on breaking changes"
we did the node thing of setting our version to "^0.2.1" which was fine, until

[code]
[code]

This bit us pretty badly (partially due to our deploy process rebuilding for production).  Seems like the rebuild happened just after the change.

Just a friendly FYI so you know that this decision impacted some netizens :)

[2016-11-10 06:25] srgl commented on #56
@jeff-kilbride Simple logic: as the redis store returns `null` in case there is no specified key and we can't change this, the wrap should work out-of-box, without redefining the `isCacheableValue` option.

[2016-11-10 08:59] PuKoren commented on #56
This is a difficult decision, as I personally think null is a valid cache value in application (and indeed not in redis). What do you think of checking if [key exists ](http://www.redis.io/commands/exists) in cases where redis returns `null`? It will make a double-check but since in applications redis cache manager should be coupled with memory cache for better performances, it should not happen o

[2016-11-10 09:28] mrister commented on #56
Indeed a difficult decision. We must take into account our current behaviour regardless of `.wrap` so changing isCacheableValue (in this module) might be a bad option. Checking if key exists is an interesting option. IMHO we should keep it as it is now (isCacheableValue looks only for undefined also in default implementation as Jeff mentioned) and utilise the key exists call. Anybody else can adju

[2016-11-10 09:37] mrister commented on #57
@ankopainting Sorry to hear you had issues. Can you please give us your use case so we can understand a little bit more as we are having some very related conversations on other issues here?

[2016-11-10 10:32] jeff-kilbride commented on #56
Since `Redis` allows `null` values to be stored, IMHO we should support that as the default. The `.wrap` method is ***extra*** functionality and I don't think it's too much of a burden to require people using it to define their own `isCacheableValue`. It's only one line of code. It just needs to be clearly explained with an example in the docs.

I use `.wrap` all the time -- and never store `null`

[2016-11-10 10:40] jeff-kilbride commented on #57
@ankopainting  Yep, I agree. Sorry for the inconvenience. We didn't have any tests with the `.wrap` method to catch this issue, but I have now added some.

Please see #56 for the current discussion surrounding how to handle this. I would be interested in your input, since you're using `.wrap`.

[2016-11-10 10:41] PuKoren commented on #56
If there is a breaking change, it should be tagger as major `1.0.0`, otherwise every projects including `^0.x.x` version will upgrade.

About the change for wrap, since redis returns null and it is a cacheable value, wrap just stopped working - I don't think it is a breaking change, it is more likely a bug

I'm fine with reverting, but we should think about something because this means that users

[2016-11-10 10:49] jeff-kilbride commented on #56
Yeah, people are already having issues. See #57.

I only called it a "breaking change" because I changed the default `isCacheableValue`. You're probably right that it should be called a "bug" instead.

If we revert, it shouldn't affect anyone that has already redefined `isCacheableValue`. If they have a custom `isCacheableValue`, the default version won't run.

[2016-11-10 10:50] PuKoren commented on #56
People redefining `isCacheableValue` to allow `null` value will face the same issue as we have now - bug will not be here by default, but there is still a hidden bug in all current versions

[2016-11-10 10:55] jeff-kilbride commented on #56
I see what you're saying. I guess I'm more concerned with people using the default version, which is now broken without any warning.

[2016-11-10 10:58] PuKoren commented on #56
You are right. Do we all agree to revert and re-release (with zlib, as `0.3.0`) while we think about a fix and let this issue open? @dial-once/developers @jeff-kilbride?

[2016-11-10 10:58] jeff-kilbride commented on #56
I basically have this reverted in a new branch, but I just noticed that you merged the compression stuff into `develop`. Do you want to do the bugfix off of `master`? Or do you want to go ahead and release the compression stuff at the same time as the bugfix?

[2016-11-10 10:58] srgl commented on #56
@jeff-kilbride agree. Spent three hours investigating why wrapped function start to return always null values :)

[2016-11-10 11:07] jeff-kilbride commented on #56
If we revert, I think it should be `0.2.6`. Anybody with `~0.2.x` won't pickup `0.3.0`. They'll be stuck at `0.2.5` until they update their `package.json`. We could do a bugfix branch off `master` just to revert the problem as `0.2.6`, then release `0.3.0` with the new default `isCacheableValue` and compression when we're ready.

What do you think?

[2016-11-10 11:09] PuKoren commented on #56
Yep, totally agree with 2 releases

[2016-11-10 11:20] jeff-kilbride commented on #56
@PuKoren  I merged my upstream `master` into my local repo, but I don't see the `v0.2.5` tag. I only have up to `v0.2.4`. How can I get `v0.2.5` locally?

[2016-11-10 11:23] jeff-kilbride commented on #56
Here is what I have:
[code]

[2016-11-10 11:24] PuKoren commented on #56
@jeff-kilbride forgot to push it, should be fine now, sorry about that!

[2016-11-10 11:49] jeff-kilbride commented on #56
Ok, I have reverted `isCacheableValue` to test both `undefined` and `null`. I have commented out the tests that try to store a null and I have added a test for the `.wrap` method. See #58.

[2016-11-10 12:13] jeff-kilbride commented on #38
Resolved by #44.

[2016-11-10 12:13] #38 closed

[2016-11-10 16:49] PuKoren commented on #56
Thanks @jeff-kilbride, we merged it and published it in 0.2.6 and above

[2016-11-10 16:49] #56 closed

[2016-11-10 16:50] PuKoren commented on #57
Fixed and redeployed in 0.2.6, sorry about that. It was not intended to be a breaking change, we introduced a bug that is now solved.

(As a side note, you should shrinkwrap your project or run tests in your CI system when building with latest packages - shit happens :/)

[2016-11-10 16:50] #57 closed

[2016-11-10 20:43] jeff-kilbride opened #59 "Bug with .wrap and promises in 0.3.0"
Version 0.3.0 introduced a bug when using the `.wrap` method with promises. I have created some new `.wrap` tests to reproduce the issue and will be submitting a PR to resolve it.

[code]

[2016-11-14 08:53] #59 closed

[2016-11-15 09:03] PuKoren commented on #54
Closed by #55

[2016-11-15 09:03] #54 closed

[2016-11-15 09:16] PuKoren commented on #37
As minimum version now is greater than 0.3 I will close this

[2016-11-15 09:16] #37 closed

[2016-11-21 23:53] seanyesmunt opened #63 "Way to specify redis value types?"
Is there a way to create a sorted set using node-cache-manager-redis? Every example I have seen just stores strings or a simple object.

I would like to be able to store a sorted set

[2016-11-23 11:04] saggiyogesh commented on #27
Raised new pull request for this

https://github.com/dial-once/node-cache-manager-redis/pull/65

[2016-11-23 11:13] mrister commented on #63
Have you tried setting it ? If so can you please give  us a code example you used? We will be glad to update readme and add test cases  if it works, or you can even help and make a PR to add support if it does not. We should also consider Maps as well as Sets.

[2016-11-23 19:28] seanyesmunt commented on #63
I actually just decided to go with [node_redis](https://github.com/NodeRedis/node_redis)

[2016-11-23 19:28] #63 closed

[2016-12-14 13:47] moshest opened #66 "TypeError: Converting circular structure to JSON"
Warp data with circular structure return an error which is OK:
`"TypeError: Converting circular structure to JSON"`

But afterwards any request to the cache will no response anything and got stuck.

[code]

[2016-12-23 11:25] lukechilds opened #68 "Support promises for set and get methods"
The `set` and `get` methods on `node-cache-manager` support promises however those methods on `node-cache-manager-redis` don't. This means using this storage adapter breaks any code that uses promises on `set` and `get`.

e.g:

Default memory store
[code]
Redis store
[code]

[2016-12-23 11:49] mrister commented on #68
@lukechilds Yeah, we have had similar issues with people asking for promise support but it's not avail yet. Any chance you could help us out with a PR for that ?

[2016-12-24 06:46] lukechilds commented on #68
Of course :)

[2016-12-24 08:08] lukechilds commented on #68
Sorted, with tests 🎉

[2016-12-24 08:08] lukechilds commented on #68
@mrister Sorted, with tests 🎉

[2016-12-26 09:33] lukechilds commented on #68
@mrister Hey, sorry I know it's Christmas, just wondered if you had any idea when that PR would be merged and published. I'm waiting on it before publishing a module I've been working on.

[2016-12-26 09:33] lukechilds commented on #68
Also, hope you had a good Christmas :)

[2016-12-29 10:19] #68 closed

[2017-01-02 16:56] mrister commented on #68
@lukechilds new version is out!

[2017-01-28 20:32] thenikso opened #70 "Need a way to drain the underlying redis connection pool"
Hi there!

I'm using this amazing cache/cache store in an AWS lambda function and noticed that it was hanging open without terminating. I managed to fix this by doing something like this:

[code]

When my app is finished. Is this correct? Am I guaranteed that the cache entries have been written? (I don't wait for them when doing `set`).

If so I think there should be a better way to do this or at

[2017-01-29 12:44] thenikso commented on #70
Actually this is more complicated then expected. If the pool is drained but you have caches outside the lambda handler (which will live until AWS decides to kill the instance), those caches will not work because `pool is draining and cannot accept work`.

[2017-01-30 09:27] mrister commented on #70
@thenikso  Since we use [solRedisPool] (https://github.com/joshuah/sol-redis-pool) perhaps you can ask get more info about your requirement at that project.

[2017-02-26 18:54] rubenstolk opened #71 "Expose `SCAN`"
As per Redis documentation, we shouldn't rely on `KEYS` as much but rather use `SCAN`.

[2017-07-26 15:45] Shadowman4205 opened #73 "How set max_attempts of connection?"
How set max attempts like in redis_node?

[2017-07-26 15:50] mrister commented on #73
@Shadowman4205 you should be able to pass params like those in redis_node

[2017-07-26 15:56] mrister commented on #73
if you take a look at the code you shall se that we use https://github.com/joshuah/sol-redis-pool
and this it's options (redis) like in here https://github.com/dial-once/node-cache-manager-redis/blob/develop/index.js#L52

[2017-07-27 07:36] Shadowman4205 commented on #73
Thansks i used Retry Strategy.

[2017-07-27 07:36] #73 closed

[2017-07-28 11:00] phenomax opened #74 "Add SSL support"
Even if redis does not support SSL natively, having SSL support when using a proxy like [stunnel](https://www.stunnel.org/index.html) would be great!

[2017-07-28 12:36] mrister commented on #74
@phenomax did you try to set it up and use with this module,faced some issues ?

[2017-08-02 14:15] Shadowman4205 opened #75 "How is multicache working?"
Hi, i want implement this flow:

if redis store is not accessible then use memory cache instead. So i can get data or from db or from cache if redis is down fo some reason. Is multicache working like this?

[2017-08-02 14:26] mrister commented on #75
@Shadowman4205 Yeah, let me give you a code sample that does this:

[2017-08-02 14:30] mrister commented on #75
[code]

[2017-08-03 07:44] Shadowman4205 commented on #75
Thank you very much,
Here you returrning cacheManager.multiCaching([memoryCache, redisCache]), is this same with
cacheManager.multiCaching([redisCache, memoryCache]); or in first usage it will use memory cache first and after (if unsucceeded) it will use redis?
Also does this reduce the speed-perfomance?

[2017-08-03 07:52] mrister commented on #75
I'm not sure about the performance (aside from overhead of switching to another memory store), but yeah order given in the array is important and thus goes the caches, in the example first memory then Redis.

[2017-08-03 08:11] Shadowman4205 commented on #75
One more question and i close issue(question).
The switching become if only one memory store unavailable?

[2017-08-03 08:44] mrister commented on #75
I believe it works (this is cahce-manager-feature) like this:
1. Check for a key in memory cache if found return,  if not continue
2. Check key in redis cache and if found return, put to memory cache

[2017-08-03 09:27] Shadowman4205 commented on #75
On

it does not use memory cache

[2017-08-03 09:40] mrister commented on #75
I think it does but both need to be set up properly, I guess you tested with some Invalid redis settings (url).

[2017-08-03 09:43] Shadowman4205 commented on #75
Yeah i tried on purpose with invalid url to test if the connection to redis fail, will it go to memory cache?

[2017-08-03 09:57] Shadowman4205 commented on #75
Ohhh then i have implement this functionality. Thank you.

[2017-08-03 09:57] #75 closed

[2017-08-03 09:58] mrister commented on #75
@Shadowman4205 If you have some time please consider doing it as a Pull request to this repo. We would appreciate any additions.

[2017-08-08 14:47] kjs3 opened #76 "Why is a connection pool used?"
I'm just curious why `sol-redis-pool` is used vs `node_redis` directly?

[This issue](https://github.com/NodeRedis/node_redis/issues/226) suggests that we lose pipelining optimizations. Was performance an issue without a pool?

[2017-08-12 12:18] mrister commented on #76
I'm not exactly sure, I guess it was due to connection reuse. It is an interesting question though.  After reading:
-  https://redis.io/topics/pipelining,
- https://github.com/NodeRedis/node_redis/issues/539#issuecomment-32203325,

I am not sure pipelining in node_redis is avail using commands done in this lib but only multi and batch ones. However this requires some research and comparison, @kjs3

[2017-08-21 08:06] jeff-kilbride commented on #71
This was solved with #72.

[2017-08-21 08:18] mrister commented on #71
Yup, @jeff-kilbride solved that like a pro ;-). We need to do a release to expose the changes, so I will keep open this issue until then.

[2017-08-21 08:19] mrister opened #77 "Release next version with latest updates"
cc:
https://github.com/dial-once/node-cache-manager-redis/issues/71

[2017-08-21 08:44] jeff-kilbride commented on #53
Automatically converting the existing SET/GET commands to HSET/HGET is not a good idea. HSET/HGET are associated with the hash data type in redis and most commonly represent objects with `field-value` pairs:
[code]
This is not a good option for a simple key/value store like cache-manager for the reasons noted above -- no ttl / expires command for individual values and no easy way to scan the keys.

[2017-08-21 08:47] jeff-kilbride commented on #27
Also solved by #72.

[2017-08-21 08:53] jeff-kilbride commented on #76
Honestly, I don't think the connection pool is necessary and it adds a bit of complexity, having to retrieve and release each connection. Getting rid of the pool may also help with issues like #66 and #70.

[2017-08-21 08:56] mrister commented on #66
This is probably related to usage of JSON.stringify. We should add this as a test case and fix.

[2017-08-21 08:57] mrister commented on #76
I think #66 is related to usage of JSON.stringify and not so much the pool, you are right on other points though.

[2017-08-21 10:34] mrister commented on #53
Very nice observation by @jeff-kilbride, however even us when we use this module more frequently store objects then we do simple string values, so It might be worth supporting out of the box, or make it configurable, I ver much like the idea with the `raw` approach for flexibility of usages.
Some more reading: https://stackoverflow.com/questions/13557075/redis-set-vs-hash

[2017-08-21 10:36] mrister commented on #53
@kcauchy still interested in doing the PR ?

[2017-08-21 10:37] mrister opened #78 "Support "raw" function for any REDIS command"
Build support for a `raw` function so users can run anyREDIS commands.

See https://github.com/dial-once/node-cache-manager-redis/issues/53#issuecomment-323683713

[2017-08-21 12:32] kcauchy commented on #53
sorry. Not involved any more. I made a more powerful cache system and support much more features than just hset/hget.

[2017-08-21 12:33] mrister commented on #53
@kcauchy. Ok thanks, might you show us this system if it is open source? :-)

[2017-08-21 12:34] kcauchy commented on #53
Sure...

[2017-08-21 12:36] mrister commented on #53
I'll reopen this in the meantime for further discussion, @dial-once/developers thoughts?

[2017-09-05 21:29] jkernech commented on #77
Release done https://github.com/dial-once/node-cache-manager-redis/releases/tag/0.5.0
Thanks a lot @jeff-kilbride 👏

[2017-09-05 21:35] #77 closed

[2017-09-06 08:42] mrister commented on #77
👏 Jeff!

[2018-04-17 09:26] jscheffner opened #79 "Inconsistent use of promises"
Is there a reason why `get` and `set` return promises but `del`and `keys` do not?

[2018-04-17 12:33] mrister commented on #79
@jscheffner  I would say there isn't a reason but mostly how the module was used and developed over time (get and set were mostly used). They should be updated to support promises and if you have some time to contribute to a PR that would be most appreciated.

Thanks for pointing out this one.

[2018-04-18 16:53] jscheffner commented on #79
@mrister thanks for the quick response. I'll see if I can find the time to contribute.

[2018-04-20 12:22] #79 closed, assigned to nobody

[2018-06-13 19:20] yktv4 commented on #76
Hey guys. I was wondering what if there was a configuration option to pass a `redis` client from outside? Ideally the syntax could be something like this:

[code]

Although I'm not sure this syntax is possible due to possible backwards compatibility issues. This would add the ability for external control over the redis connection without the hassle to code some getter function inside of `node-cach

[2018-06-14 10:55] mrister commented on #76
@kjs3 since we use sol-redis-pool, you can pass Redis options like this https://github.com/lzyzsd/sol-redis-pool#additional-redis-options which are basically options for the client like mentioned here https://github.com/NodeRedis/node_redis#options-object-properties
would this help?

[2018-07-05 09:18] #76 closed

[2020-11-12 10:27] sm-hejazi opened #87 "use in Typescript"
Hi
how to use in typescript?

[2021-03-31 23:13] angelxmoreno commented on #87
I switched to using https://github.com/dabroek/node-cache-manager-ioredis for my TS projects

[2021-10-25 05:52] OmgImAlexis commented on #87
@angelxmoreno that doesn't have any types?

[2021-11-05 11:37] thorupio opened #88 "Invalid string length"
I'm trying to cache an array and I get this error:

`RangeError: Invalid string length
  at JSON.stringify (<anonymous>)
  at /app/node_modules/cache-manager-redis/index.js:241:24`

I'm unable to catch this error in my code for some reason and it messes with my Heroku dyno to have this being flagged as an unhandled promise rejection.

Is there a maximum array size, I should be careful not to excee

[2021-11-05 12:13] mrister commented on #88
You are probably dealing with a big Object, consider making it smaller if possible, Also there might be some nice clues here, https://stackoverflow.com/questions/29175877/json-stringify-throws-rangeerror-invalid-string-length-for-huge-objects

[2022-01-15 02:53] angelxmoreno commented on #87
@OmgImAlexis my apologies. I meant I made the switch to https://github.com/dabroek/node-cache-manager-ioredis  and added https://www.npmjs.com/package/@types/cache-manager-ioredis